html,
body {
    min-height: 100%;
    height: 100%;
}

#bubble-head {
    text-align: center;
}

#bubble-foot {
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 2%;
    text-align: center;
}

#bubble-container {
    min-height: 300px;
    height: 80%;
    border-color: red;
    border-width: thin;
    border-style: dotted;
    background: black;
}

.bubble-item {
    border-color: blue;
    border-width: thin;
    border-style: solid;
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    background: -webkit-radial-gradient(yellow, green);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(yellow, green);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(yellow, green);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(yellow, green);
    /* Standard syntax */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
